name: RAG Pipeline CI
on: [push] # triggers the "Automation" every time I push code

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: pip install -r requirements.txt

      - name: Syntax Check
        run: python -m py_compile main.py

      - name: Build Docker Image
        # proves the Dockerfile is "Production Ready"
        run: docker build -t rag-summarizer:latest .